AllowUsers vagrant centos
Banner /etc/issue
ChallengeResponseAuthentication no
Ciphers aes256-ctr,aes192-ctr,aes128-ctr
ClientAliveCountMax 0
ClientAliveInterval 300
GssapiAuthentication yes
HostbasedAuthentication no
IgnoreRhosts yes
KexAlgorithms diffie-hellman-group-exchange-sha256
LogLevel INFO
MACs hmac-sha2-512,hmac-sha2-256
MaxAuthTries 4
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
PermitUserEnvironment no
Protocol 2
SyslogFacility AUTHPRIV
UsePAM yes
X11Forwarding no
